# --- Python (Виртуальное окружение и кэш) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- База данных и локальные файлы ---
data/
backups/
*.db
*.sqlite3

# --- Секреты и настройки среды ---
.env
.env.*
!.env.example

# --- IDE / Редакторы ---
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# --- Системные файлы ---
.DS_Store
Thumbs.db